body {
  font-family: Arial;
}

.bar {
  position: relative;
  height: 3em;
  width: 300px;
  border: 1px solid #ececec;
}

.bar-fill {
  height: 3em;
  background-color: #3388AA;
}

.bar-fill-overflow {
  background-color: #FF4444;
}

.bar-label {
  top: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.button {
  background-color: #3388FF;
  border: 0px;
  color: white;
  padding: 1em 2em 1em 2em;
  outline: none;
  cursor: pointer;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.button:hover {
  background-color: #3355FF;
}